# Python Programming 101 - Guided Practice

Dr J Rogel-Salazar

[j.rogel.datascience@gmail.com](mailto:j.rogel.datascience@gmail.com)

Imagine that after you are working as a sales analyst for a brand with presence in the US.

You are asked to look at regional sales data from your vendors and you want to use your newly acquired Python skills...

For this guided practice we will create some fake data related to the average income and population of some cities in the US. 

We will apply the python knowledge we have acquired and see how some popular modules such as pandas, numpy and matplotlib are used.

We can use the Jupyter interface to invoke functionality from the terminal.

For example, we can list the files under the current directory as follows:

In [1]:
!ls

 filename.csv
'fun with markdown.ipynb'
 Python101_Part2_GuidedPractice.ipynb
 Python101_Part2_IndPractice.ipynb
 Python101_Part2_IndPractice_Solutions.ipynb
 SQL

# Importing packages and modules

Let us start by importing packages and modules that will be used in this practice.

We will make use of a functions to calculate the average. This is included in the NumPy module.

Also we will use pandas to manipulate data organised in a table format. We call this a *dataframe*.

In [2]:
import numpy as np
import pandas as pd

Let us define some lists that can be used to create a pandas dataframe. Let us start by listing the different cities we are interested in:

In [3]:
cities  = pd.Series(['Atlanta','Lilburn','Athens',
                     'Auburn','Augusta','NYC','Buffalo','Albany',
                     'Miami','Tallahassee'])
type(cities)

pandas.core.series.Series

Now the states where these cities are:

In [4]:
states = pd.Series(['GA','GA','GA','GA','GA',
                    "NY","NY","NY","FL","FL"])

Let us now list the average income and population for the cities in question:

In [5]:
city_avg_incomes = pd.Series([55000,40000,50000,45000,
                              30000,60000,57000,56000,65000,40000])

city_populations = pd.Series([5000000,250000,100000,
                              50000, 200000,6000000,3000000,400000,
                              4000000,5000000])

### Question

Have you noticed that we are using lists to create the series expected by pandas?

# Pandas dataframe

We are now ready to put all the information above in a single dataframe:

In [6]:
city_table = pd.DataFrame( {'cities': cities,  
             'states': states,
             'city_avg_incomes':city_avg_incomes,
             'city_populations':city_populations
              } )

### Question

Do you remember what is the syntax to define a dictionary in Python?

# Looking at the Dataframe

Let us take a look at the first 6 entries:

In [7]:
city_table.head(3)

    cities states  city_avg_incomes  city_populations
0  Atlanta     GA             55000           5000000
1  Lilburn     GA             40000            250000
2   Athens     GA             50000            100000

# Manipulating the data

We can create a column to state the population in millions and another one for the income in thousands. 

Let us define a function that formats a number in terms of millions

### Question

Do you remember how to define a function in Python?

In [8]:
def FormatMillions(x):
    return float(x)/1000000.0

We can now "apply" this function to one of the columns of our dataframe to create a new column:

In [9]:
city_table['city_populations'].apply(FormatMillions)

0    5.00
1    0.25
2    0.10
3    0.05
4    0.20
5    6.00
6    3.00
7    0.40
8    4.00
9    5.00
Name: city_populations, dtype: float64

In [10]:
city_table['pop_in_millions'] = city_table['city_populations'].apply(FormatMillions)
city_table

        cities states  city_avg_incomes  city_populations  pop_in_millions
0      Atlanta     GA             55000           5000000             5.00
1      Lilburn     GA             40000            250000             0.25
2       Athens     GA             50000            100000             0.10
3       Auburn     GA             45000             50000             0.05
4      Augusta     GA             30000            200000             0.20
5          NYC     NY             60000           6000000             6.00
6      Buffalo     NY             57000           3000000             3.00
7       Albany     NY             56000            400000             0.40
8        Miami     FL             65000           4000000             4.00
9  Tallahassee     FL             40000           5000000             5.00

Let us do something similar for the incomes, but format the numbers in terms of thousands.

In [11]:
def FormatThousands(x):
    return float(x)/1000.0

In [12]:
city_table['income_in_k'] =city_table['city_avg_incomes'].apply(FormatThousands)

Let us see the result:

In [16]:
city_table.head()
type(city_table)

pandas.core.frame.DataFrame

### Question

Why do you think are the functions above useful for?

In [14]:
Why do you think are the functions above useful for

SyntaxError: invalid syntax (<ipython-input-14-62bfe72aadff>, line 1)

# Data undestanding

How many columns and rows do we have in the dataframe?

In [ ]:
city_table.shape

We have 10 records (rows) and 6 fields (columns)

Let us select some of the data points. For instance the first 4 entreos for population and income.

In [ ]:
city_table[0:4][["pop_in_millions",'income_in_k']]

We can select some data based on conditionals. For instance let us show only those records where the income is greater than 30l.§

In [ ]:
city_table[(city_table['income_in_k']>=30)]

As we can see, only Augusta meets the condition.

We can order the data. Let us order the dataframe in descending order by the population in millions.

In [ ]:
city_table.sort_values('pop_in_millions')

Finally, let us get a description of each of the numeric fields in the dataframe. We will be able to see the following statistics:

- count of records
- mean
- standard deviation
- minimum and maximum values
- percentiles

In [ ]:
city_table.describe()

# Visualising data

### Question

Why do you think this is important for?

We can display the plots in the notebook with the following command:

In [ ]:
%pylab inline

### Question

From the discussion about Python libraries, what library may be useful here?

Let us also import the matplotlib library:

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
city_table['pop_in_millions'].plot(kind='box')
type(city_table)
city_table.to_csv("filename.csv")